</tbody>
</table>
<div>
    <h5>Gift Wrap? <span class="giftRadio"><input type="radio" id="yes" name="giftwrap" value="true"><label for="yes">Yes</label></span><span class="giftRadio"><input type="radio" id="no" name="giftwrap" value="false"><label for="no">No</label></span></h5>
    <h5>Total Ordered: <span id="totalCount">0</span> (Suggested Quantity Discount Items: <span id="suggestedGifts">0</span>)</h5>
    <h5>Quantity Discount Items added: <span id="discountCount">0</span></h5>
    <h3>Total Products: <span id="finalCount">0</span> + Free Gifts: <span id="freeCount">0</span></h3>
</div>
<button id="generateBtn" class="btn btn-primary">Generate Quote</button>
<script src="./assets/bootstrap/bootstrap.min.js"></script>
<script src="./src/calculator.js"></script>
</body>

</html>