</table>
<div>
    <h4>Gift Wrap? <span><input type="radio" id="yes" name="giftwrap" value="true"><label for="yes">Yes</label><input type="radio" id="no" name="giftwrap" value="false"><label for="no">No</label></span></h5>
    <h4>Total Ordered: <span id="totalCount">0</span> (Suggested Quantity Discount Items: <span id="suggestedGifts">0</span>)</h4>
    <h4>Quantity Discount Items added: <span id="discountCount">0</span></h4>
    <h2>Total Products: <span id="finalCount">0</span> + Free Gifts: <span id="freeCount">0</span></h2>
</div>
<button id="generateBtn">Generate Quote</button>

<script src="./src/calculator.js"></script>
</body>

</html>