</table>
<div>
    <h5>Gift Wrap? <span><input type="radio" id="yes" name="giftwrap" value="true"><label for="yes">Yes</label><input type="radio" id="no" name="giftwrap" value="false"><label for="no">No</label></span></h5>
    <h4>Total Ordered: <span id="totalCount">0</span> (Suggested Free Gifts: <span id="suggestedGifts">0</span>)</h4>
    <h4>Gifts added: <span id="giftCount">0</span></h4>
    <h3>Total Gifts: <span id="finalCount">0</span></h3>
</div>
<button>Generate Quote</button>

<script src="./src/calculator.js"></script>
</body>

</html>